name: UNITTEST DEV Branch

on:
  push:
    branches: [ dev ]
  pull_request:
    branches: [ dev ]

jobs:

  unittest_qeue_unterface:
    runs-on: macos-latest
    defaults:
      run:
        shell: bash
        working-directory: module_test/qeue_interface
    steps:
    - uses: actions/checkout@v2
    - name: build unittest
      run: make all
    - name: run unittest
      run: make run

  unittest_log_interface:
    runs-on: macos-latest
    defaults:
      run:
        shell: bash
        working-directory: module_test/log_interface
    steps:
    - uses: actions/checkout@v2
    - name: build unittest
      run: make all
    - name: run unittest
      run: make run

  unittest_message_executer:
    runs-on: macos-latest
    defaults:
      run:
        shell: bash
        working-directory: module_test/msg_executer
    steps:
    - uses: actions/checkout@v2
    - name: build unittest
      run: make all
    - name: run unittest
      run: make run

  unittest_rpi_protocol_client:
    runs-on: macos-latest
    defaults:
      run:
        shell: bash
        working-directory: module_test/rpi_protocol_client
    steps:
    - uses: actions/checkout@v2
    - name: build unittest
      run: make all
    - name: run unittest
      run: make run

  unittest_mqtt_interface:
    runs-on: macos-latest
    defaults:
      run:
        shell: bash
        working-directory: module_test/mqtt_interface
    steps:
    - uses: actions/checkout@v2
    - name: build unittest
      run: make all
    - name: run unittest
      run: make run

  unittest_rpi_protocol_host:
    runs-on: macos-latest
    defaults:
      run:
        shell: bash
        working-directory: module_test/rpi_protocol_host
    steps:
    - uses: actions/checkout@v2
    - name: build unittest
      run: make all
    - name: run unittest
      run: make run

  unittest_json_parser:
    runs-on: macos-latest
    defaults:
      run:
        shell: bash
        working-directory: module_test/json_parser
    steps:
    - uses: actions/checkout@v2
    - name: build unittest
      run: make all
    - name: run unittest
      run: make run

  unittest_math_module:
    runs-on: macos-latest
    defaults:
      run:
        shell: bash
        working-directory: module_test/math_module
    steps:
    - uses: actions/checkout@v2
    - name: build unittest
      run: make all
    - name: run unittest
      run: make run

  unittest_ir_remote_sony:
    runs-on: macos-latest
    defaults:
      run:
        shell: bash
        working-directory: module_test/ir_remote_sony
    steps:
    - uses: actions/checkout@v2
    - name: build unittest
      run: make all
    - name: run unittest
      run: make run
      

  unittest_signal_slot_interface:
    runs-on: macos-latest
    defaults:
      run:
        shell: bash
        working-directory: module_test/signal_slot_interface
    steps:
    - uses: actions/checkout@v2
    - name: build unittest
      run: make all
    - name: run unittest
      run: make run
      

  unittest_cli_executer:
    runs-on: macos-latest
    defaults:
      run:
        shell: bash
        working-directory: module_test/cli_executer
    steps:
    - uses: actions/checkout@v2
    - name: build unittest
      run: make all
    - name: run unittest
      run: make run
      

  unittest_cli_argument:
    runs-on: macos-latest
    defaults:
      run:
        shell: bash
        working-directory: module_test/cli_argument
    steps:
    - uses: actions/checkout@v2
    - name: build unittest
      run: make all
    - name: run unittest
      run: make run
      
  unittest_print_trace_object:
    runs-on: macos-latest
    defaults:
      run:
        shell: bash
        working-directory: module_test/print_trace_object
    steps:
    - uses: actions/checkout@v2
    - name: build unittest
      run: make all
    - name: run unittest
      run: make run
      
  unittest_parse_trace_object:
    runs-on: macos-latest
    defaults:
      run:
        shell: bash
        working-directory: module_test/parse_trace_object
    steps:
    - uses: actions/checkout@v2
    - name: build unittest
      run: make all
    - name: run unittest
      run: make run
      
  unittest_cfg_file_parser:
    runs-on: macos-latest
    defaults:
      run:
        shell: bash
        working-directory: module_test/cfg_file_parser
    steps:
    - uses: actions/checkout@v2
    - name: build unittest
      run: make all
    - name: run unittest
      run: make run
      
  unittest_cli_remote_control:
    runs-on: macos-latest
    defaults:
      run:
        shell: bash
        working-directory: module_test/cli_remote_control
    steps:
    - uses: actions/checkout@v2
    - name: build unittest
      run: make all
    - name: run unittest
      run: make run
